<div class="places-container">
  <% places.each do |place| %>
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title"><%= place.name %> - <%= place.category %></h5>
        <p class="card-text"><%= place.address %></p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Opening Hours: <%= place.opening_hours %> </li>
          <li class="list-group-item">Distance: <%= place.rating %> km</li>
        </ul>
        </div>
        <div style="position: absolute; bottom: 10px; right: 10px;">
            <%= link_to "choose", event_event_places_path(place), data: { turbo_method: :post } %>
          <% @event.event_places.each do |place_name| %>
          <%= place_name.place.name %>
          <% end %>
      </div>
    </div>
  <% end %>
</div>
