
    <%# <div class="navbar" id="myNavbar"> %>
        <%# <a href="#home">Home</a> %>
        <%# <a href="#profile">Profile</a> %>
        <%# <a href="#dashboard">Dashboard</a> %>
        <%# <a href="#contact">Contact</a> %>
        <%# <a href="javascript:void(0);" class="icon" onclick="typeOfMenu()"> %>
            <%# &#9776; %>
        <%# </a> %>
    <%# </div> %>

    <!-- Créer cela en stimulus dès que temps dispo -->
  <%# <script>
    function typeOfMenu() {
      let x = document.getElementById("myNavbar");
        if (x.className === "navbar") {
          x.className += " responsive";
        } else {
          x.className = "navbar";
        }
      }
  </script> %>

<div class="container">
  <div class="row">
    <% events.each do |event| %>
      <div class="col-md-4 mb-3 p-1"> <!-- Added 'mb-3' class for margin bottom -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= event.name %></h5>
            <p class="card-text">Date: <%= event.date %></p>
            <p class="card-text">Start Time: <%= event.start_time.strftime("%H:%M %p") %></p>
            <p class="card-text">Status: <%= event.status %></p>
            <%= link_to 'See event', event_path(event), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
