<div class="container">
  <div class="row">
    <% events.each do |event| %>
      <div class="col-md-4 mb-3 p-1"> <!-- Added 'mb-3' class for margin bottom -->
        <div class="card">
          <div class="card-body" style="height: 300px">
            <h5 class="card-title"><strong><%= event.name %></strong> with
              <% if event.group %>
                <%= event.group.name %>
              <% end %>
            </h5>
            <% if event.group %>
              <div class="mb-2"><i class="fas fa-user"></i>
                <% event.group.group_users.each do |group_user| %>
                  <% if group_user.user.photo.attached? %>
                    <%= cl_image_tag group_user.user.photo.key, class: "avatar" %>
                    <% end %>
                <% end %>
              </div>
            <% else %>
              <p class="card-text">Group: No group</p>
            <% end %>
            <p class="card-text"><i class="far fa-calendar"></i>  <%= event.date.strftime("%d/%m/%Y") %></p>
            <p class="card-text"><i class="far fa-clock"></i>  Start Time: <%= event.start_time.strftime("%H:%M %p") %></p>
            <% if event.user.nickname == current_user.nickname %>
              <p class="card-text" style="color: #FCA601">Creator: <strong>ME</strong> </p>
            <% else %>
              <p class="card-text">Creator: <strong><%= event.user.nickname %></strong></p>
            <% end %>
            <% if event.status == "Voted" || event.status == "Passed" %>
              <div style="position: absolute; bottom: 10px; right: 10px;">
                <%= link_to 'See event place', event_event_places_path(event), class: "btn custom-btn" %>
              </div>
            <% else %>
              <div style="position: absolute; bottom: 10px; right: 10px;">
                <%= link_to 'Go vote!', event_event_places_path(event), class: "btn custom-btn" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>





    <%# <div class="navbar" id="myNavbar"> %>
        <%# <a href="#home">Home</a> %>
        <%# <a href="#profile">Profile</a> %>
        <%# <a href="#dashboard">Dashboard</a> %>
        <%# <a href="#contact">Contact</a> %>
        <%# <a href="javascript:void(0);" class="icon" onclick="typeOfMenu()"> %>
            <%# &#9776; %>
        <%# </a> %>
    <%# </div> %>

    <!-- Créer cela en stimulus dès que temps dispo -->
  <%# <script>
    function typeOfMenu() {
      let x = document.getElementById("myNavbar");
        if (x.className === "navbar") {
          x.className += " responsive";
        } else {
          x.className = "navbar";
        }
      }
  </script> %>
