<div class="card card-index mb-4 <%= event.places.include?(place) ? "card-index-selected" : "" %>">
  <div class="row">
    <!-- image place -->
    <div class="col-sm-2">
      <% if place.photo.attached? %>
        <%= cl_image_tag place.photo.key, class: "place-picture", style:"height: 100%;" %>
      <% end %>
    </div>
    <!-- descriptif texte -->
    <div class="col-sm-10">
      <div class="card-body">
        <h5 class="card-title"><%= place.name %> - <%= place.category %></h5>
        <br>
        <p class="card-text"><i class="fas fa-map-marker-alt"></i>  <%= place.address %></p>
        <p class="list-group-item"><i class="far fa-clock"></i>  Opening Hours: <%= place.opening_hours.strftime("%H:%M %p") %> </p>
        <p class="list-group-item"><i class="fas fa-star"></i>   <%= place.rating %>/5</p>
      </div>
    </div>
  </div>
</div>
