<div class="container">
  <h1>Ideal Place</h1>
  <h2>Where your event begins</h2>
  <div class="row">
    <div class="col-sm-12">
      <div class="h-100">
        <p>Your event name is: <%= params[:name] %></p>

        <%= simple_form_for @event, url: events_path do |f| %>
          <%= f.input :name, as: :hidden, input_html: { id: 'event_name', value: params[:name] } %>
          <%= f.input :selected_group_name, as: :hidden, input_html: { id: 'selected_group_name' } %>
          <div data-controller="datepicker">
            <%= f.input :date, as: :string, input_html: { id: "event_date", class: "form-control white-input form-control-input", placeholder: "DD-MM-YYYY" } %>
          </div>
          <div data-controller="timepicker">
            <%= f.input :start_time, as: :string, input_html: { id: "event_start_time", class: "form-control white-input form-control-input", placeholder: "HH:MM AM/PM" } %>
          </div>

          <br>

          <div class="groups">
            <div class="row">
              <% current_user.groups.each do |group| %>
                <div class="col-md-4 mb-3">
                  <div class="card" onclick="selectCard(this)">
                    <!-- Your existing card content -->
                    <div class="card-body">
                      <h5 class="card-title"><%= group.name %></h5>
                      <p class="card-text">Created by: <%= group.user.first_name %> <%= group.user.last_name %></p>
                      <ul class="list-unstyled">
                        <li><strong>Group Members:</strong></li>
                        <% group.group_users.each do |group_user| %>
                          <li><%= group_user.user.first_name %> <%= group_user.user.last_name %></li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

          <br>

          <%= f.submit "Create Event", class: "btn btn-success mt-4" %>
        <% end %>

 <!-- Add this closing tag for the form -->
      </div>
    </div>
  </div>
</div>


<script>
  function selectCard(element) {
    var cards = document.querySelectorAll('.card');
    cards.forEach(function(card) {
      card.classList.remove('selected');
    });
    element.classList.add('selected');

    var groupName = element.querySelector('.card-title').innerText;
    document.getElementById('selected_group_name').value = groupName;
  }
</script>
