<div class="container">
  <h2 class="h2-new">Where your event begins!</h2>
  <div class="row">

    <div class="col-md-8">
         <!-- partie gauche -->
        <h4 class="my-9 mb-3 h4-new">Your event name is "<%= params[:name] %>"</h4>
        <%= simple_form_for @event, url: events_path do |f| %>
         <%= f.input :name, as: :hidden, input_html: { id: 'event_name', value: params[:name] } %>
        <%= f.input :selected_group_name, as: :hidden, input_html: { id: 'selected_group_name' } %>
         <div class="groups">
            <div class="row">
              <% current_user.groups.each do |group| %>
                <div class="col-md-4 mb-3">
                  <div class="card" onclick="selectCard(this)">
                    <!-- Your existing card content -->
                    <div class="card-body">
                      <!-- Add some margin and padding to the card title -->
                      <h5 class="card-title" style="margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #e0e0e0;"><%= group.name %></h5>
                      <div>
                        <strong><i class="fas fa-user"></i>  Members</strong>
                        <!-- Add some margin and padding to the member avatars -->
                        <div style="margin-top: 10px; padding: 5px;">
                          <% group.group_users.each do |group_user| %>
                            <% if group_user.user.photo.attached? %>
                              <%= cl_image_tag group_user.user.photo.key, class: "avatar avatar-gap", title: group_user.user.nickname %>
                              <!-- Uncomment the following line to show the member names -->
                              <%# <span> <%= group_user.user.first_name %>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
    </div>
          <!-- partie droite -->
    <div class="col-md-4">
      <div data-controller="datepicker">
      <%= f.input :date, as: :string, input_html: { id: "event_date", placeholder: "DD-MM-YYYY", style: "visibility: hidden", class: "datepicker" }, label: false %>
    </div>
    <%= f.submit "Create Event", class: "btn custom-btn custom-btn-small-new mb-4" %>
    <% end %>'
    </div>

            <br>



 <!-- Add this closing tag for the form -->
      </div>
    </div>
  </div>
</div>


<script>
  function selectCard(element) {
    var cards = document.querySelectorAll('.card');
    cards.forEach(function(card) {
      card.classList.remove('card-index-selected');
    });
    element.classList.add('card-index-selected');

    var groupName = element.querySelector('.card-title').innerText;
    document.getElementById('selected_group_name').value = groupName;
  }
</script>
