<div class="container">
  <h1>Ideal Place </h1>
  <h2 style> Where your event begins </h2>
  <div class="row">
    <div class="col-sm-12">
            <div class="h-100">
            <p>Your event name is: <span id="display-event-name"></span></p>
              <%= simple_form_for @event do |f| %>
                <%= f.input :date %>
                <%= f.input :start_time %>
                <%= image_tag "user-1.jpg", alt: "Avatar user-1", class: "avatar custom-margin", width: "40px", height:"40px", style:"object-fit:'contain'" %>
                <%= image_tag "user-2.jpg", alt: "Avatar user-2", class: "avatar custom-margin", width: "40px", height:"40px", style:"object-fit:'contain'" %>
                <%= image_tag "user-3.jpg", alt: "Avatar user-3", class: "avatar custom-margin", width: "40px", height:"40px", style:"object-fit:'contain'" %>
                <br>
                <%= f.submit class: "btn btn-success mt-4" %>
              <% end %>

            </div>
    </div>
  </div>
</div>


<script>
  // Retrieve the event name from localStorage and display it
  const eventName = localStorage.getItem('eventName');
  const displayEventName = document.getElementById('display-event-name');
  displayEventName.textContent = eventName || 'No event name captured yet.';
</script>
