<div class="container">
  <h1>Ideal Place </h1>
  <h2 style> Where your event begins </h2>


  <div class="row">
    <div class="col-sm-12">
     <!-- <div class="flash flash-success alert alert-dismissible fade show" role="alert">
        <span><strong>Yay!</strong> 🎉 You have successfully created your event! Let's continue.</span>
          <a data-bs-dismiss="alert" aria-label="Close">
            <i class="fas fa-times"></i>
          </a>
      </div>
      -->
      <br>
    </div>
  </div>

  <h3> Event current recapitulative </h3>
  <p> The event called "<%= @event.name %>" will take place on <%= @event.date %> at <%= @event.start_time %> </p>
  <p> You invited your friends from group " "</p>
  <div class="d-flex bottom-top-margin">
    <!-- the persue choice/button should remove the buttons : delete and update  -->
    <button class="btn btn-success custom-margin"> Pursue event organization </button>

    <!-- update should direct to the edit event page -->
    <button class="btn btn-warning custom-margin"> Edit event </button>

    <!-- delete should destroy the event and bring back to the index page ? -->
    <button class="btn btn-danger custom-margin"> Cancel event </button>
  </div>

  <div>
     <%= image_tag "paris-simul-carte.jpg", alt: "Carte de Paris", class: "map-display" %>
  </div>

  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <p class="custom-margin"> Please select a type of event </p>

  <button class="btn btn-primary custom-margin">Catering </button>
  <button class="btn btn-light custom-margin"> Entertainment </button>
  <button class="btn btn-success custom-margin"> Cultural events </button>

  <!-- si on clique sur catering :
      choices are : restaurants, bars, cafes
        puis sous niveau restaurants : italien, mexicain, français, chinois...
        puis sous niveau bars : à tapas, 

    si on clique sur entertainment :
      choices are ????

    si on clique sur cultural events :
      choices are : musée ciné

    si on clique sur entertainment:
      choices are :

   -->

  <p class="custom-margin"> Please select a category of event </p>

  <button class="btn btn-primary custom-margin">Catering </button>
  <button class="btn btn-light custom-margin"> Entertainment </button>
  <button class="btn btn-success custom-margin"> Cultural events </button>

</div>
