<div class="container">
  <div class="row">
    <div class="col-sm-12">
     <!-- <div class="flash flash-success alert alert-dismissible fade show" role="alert">
        <span><strong>Yay!</strong> 🎉 You have successfully created your event! Let's continue.</span>
          <a data-bs-dismiss="alert" aria-label="Close">
            <i class="fas fa-times"></i>
          </a>
      </div>
      -->
      <br>
    </div>
  </div>

  <h3>Event recapitulative</h3>
  <p>The event called "<%= @event_name %>" will take place on <%= @event.date %> at <%= @event.start_time %></p>
  <p>You invited your friends from group "<%= @selected_group_name %> "</p>


  <div class="d-flex bottom-top-margin">
    <!-- the persue choice/button should remove the buttons : delete and update  -->
    <button class="btn btn-success custom-margin"> Pursue event organization </button>

    <!-- update should direct to the edit event page -->
    <button class="btn btn-warning custom-margin"> Edit event </button>

    <!-- delete should destroy the event and bring back to the index page ? -->
    <button class="btn btn-danger custom-margin"> Cancel event </button>
    <%= link_to "EP", event_event_places_path(@event), class: "btn btn-warning custom-margin" %>
  </div>

  </div>
  <p class="custom-margin"> Please select a category of event </p>

  <!-- events/show.html.erb -->


    <div>
      <%= link_to "Catering", event_path(@event, category: 'Catering'), class: 'btn btn-light custom-margin' %>
      <%= link_to "Entertainment", event_path(@event, category: 'Entertainment'), class: 'btn btn-light custom-margin' %>
      <%= link_to "Culture", event_path(@event, category: 'Culture'), class: 'btn btn-light custom-margin' %>
    </div>
    <div class="event-container">
      <div>
        <%= render partial: 'shared/filtered_places', locals: { places: @places } %>
      </div>
        <div class="map-display"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
