<div class="container">
  <div class="row">
    <div class="col-sm-12">
     <!-- <div class="flash flash-success alert alert-dismissible fade show" role="alert">
        <span><strong>Yay!</strong> 🎉 You have successfully created your event! Let's continue.</span>
          <a data-bs-dismiss="alert" aria-label="Close">
            <i class="fas fa-times"></i>
          </a>
      </div>
      -->
      <br>
    </div>
  </div>

  <h3>Event recapitulative</h3>
  <p>The event called "<%= @event.name %>" will take place on <%= @event.date %> at <%= @event.start_time %></p>
  <p>You invited your friends from group "<%= @selected_group_name %> "</p>


  <div class="d-flex bottom-top-margin">
    <!-- the persue choice/button should remove the buttons : delete and update  -->
    <button class="btn btn-success custom-margin"> Pursue event organization </button>

    <!-- update should direct to the edit event page -->
    <button class="btn btn-warning custom-margin"> Edit event </button>

    <!-- delete should destroy the event and bring back to the index page ? -->
    <button class="btn btn-danger custom-margin"> Cancel event </button>
  </div>


  <p class="custom-margin"> Please select a category of event </p>

  <button class="btn btn-primary custom-margin">Catering </button>
  <button class="btn btn-light custom-margin"> Entertainment </button>
  <button class="btn btn-success custom-margin"> Cultural events </button>

  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>


  <div class="row">
    <% @event_places.each do |event_place| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title"><%= event_place.place.name %></h5>
            <p class="card-text"><%= event_place.place.address %></p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Duration: <%= event_place.duration %> minutes</li>
              <li class="list-group-item">Distance: <%= event_place.distance %> km</li>
              <li class="list-group-item">Transport mode: <%= event_place.transport_mode %></li>
              <li class="list-group-item">Selected: <%= event_place.selected ? "Yes" : "No" %></li>
              <% if event_place.favoritors %>
              <li class="list-group-item">Members who voted:
                <% event_place.favoritors.each do |favorite| %>
                <%= favorite.first_name %></li>
              <%end%>
            </ul>
            <%end%>
            </ul>
            <div class="form-check" style="position: absolute; bottom: 10px; right: 10px;">
              <% if current_user.all_favorites %>
                <% current_user.all_favorites.each do |favorite| %>
                  <% if favorite == @event_place %>
                    <p>Voted!</p>
                  <% else %>
                    <p>You've already voted</p>
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to "Vote", vote_event_place_path(event_place), class:"form-check", type:"radio" %>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
