<div class="container">
  <h1>Ideal Place </h1>
  <h2 style> Where your event begins </h2>


  <div class="row">
    <div class="col-sm-12">
     <!-- <div class="flash flash-success alert alert-dismissible fade show" role="alert">
        <span><strong>Yay!</strong> 🎉 You have successfully created your event! Let's continue.</span>
          <a data-bs-dismiss="alert" aria-label="Close">
            <i class="fas fa-times"></i>
          </a>
      </div>
      -->
      <br>
    </div>
  </div>

  <h3> Event current recapitulative </h3>
  <p> The event called "<%= @event.name %>" will take place on <%= @event.date %> at <%= @event.start_time %> </p>
  <p> You invited your friends from group " "</p>
  <div class="d-flex bottom-top-margin">
    <!-- the persue choice/button should remove the buttons : delete and update  -->
    <button class="btn btn-success custom-margin"> Pursue event organization </button>

    <!-- update should direct to the edit event page -->
    <button class="btn btn-warning custom-margin"> Edit event </button>

    <!-- delete should destroy the event and bring back to the index page ? -->
    <button class="btn btn-danger custom-margin"> Cancel event </button>
  </div>

  <div>
     <%= image_tag "paris-simul-carte.jpg", alt: "Carte de Paris", class: "map-display" %>
  </div>

  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

<!-- si on clique sur catering :
      choices are : restaurants, bars, cafes
        -> puis sous niveau restaurants : italien, mexicain, français, chinois...
        -> puis sous niveau bars : bars à tapas, bars à bierre, bars à vin, bars à saké
        -> puis sous niveau cafés : troquet, estaminet, bistrot

    si on clique sur cultural events :
      choices are : musée ciné expositions
        -> choices de musée : art moderne, sculpture, arts anciens
        -> choices de ciné : manga, thriller, policier
        -> expos: artistique, scultpture, éducative

    si on clique sur entertainment:
      choices are : théâtre, concerts, spectacles
      -> choices théâtre : comédie, tragédie, opéra-bouffe
      -> choices concerts : rock, électro, classique
      -> choices spectacles : comédie musicale, marionnettes, magie
   -->

  <p class="custom-margin"> Please select a type of event </p>

  <button class="btn btn-primary custom-margin">Catering </button>
  <button class="btn btn-light custom-margin"> Entertainment </button>
  <button class="btn btn-success custom-margin"> Cultural events </button>

  <div class="row justify-content-center">
  <div class="col-sm-8 my-3">
   <%= simple_form_for :filter, url: event_path, method: :get do |f| %>
   <%= f.input :category, collection: ["Catering", "Entertainment", "Cultural event"], prompt: "Sélectionnez une catégorie d'évènement" %>
   <%= f.button :submit, "Filter" %>
<% end %>





  </div>
</div>



<div class="catering-sub-event">
  <p class="custom-margin"> Select a catering event </p>
  <button class="btn btn-primary custom-margin">Restaurant </button>
  <button class="btn btn-light custom-margin"> Bar </button>
  <button class="btn btn-success custom-margin"> Café </button>
</div>

<div class="entertainment-sub-event">
  <p class="custom-margin"> Select an entertainment </p>
  <button class="btn btn-primary custom-margin">Theater </button>
  <button class="btn btn-light custom-margin"> Concert </button>
  <button class="btn btn-success custom-margin"> Show </button>
</div>

<div class="culture-sub-event">
  <p class="custom-margin"> Select a cultural event </p>
  <button class="btn btn-primary custom-margin"> Museum </button>
  <button class="btn btn-light custom-margin"> Cinema </button>
  <button class="btn btn-success custom-margin"> Exposition </button>
</div>

</div>
