<div class="container">
  <div class="row">
    <div class="col-sm-12">
     <!-- <div class="flash flash-success alert alert-dismissible fade show" role="alert">
        <span><strong>Yay!</strong> 🎉 You have successfully created your event! Let's continue.</span>
          <a data-bs-dismiss="alert" aria-label="Close">
            <i class="fas fa-times"></i>
          </a>
      </div>
      -->
      <br>
    </div>
  </div>
<div class="d-flex justify-content-between mb-5">
  <div class="card-category col-md-6 p-3" style="color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); background-color: #1D475E; border-radius: 4px" >
    <div class="d-flex justify-content-between">
      <div>
        <h2><%= @event_name %> </h2>
        <h5><i class="far fa-calendar"></i>  <%= @event.date.strftime("%d/%m/%Y") %> - <%= @event.start_time.strftime("%H:%M %p") %></h5>
      </div>
      <div>
        <% @event.group.group_users.each do |group_user| %>
          <%= cl_image_tag group_user.user.photo.key, class: "avatar", style: "width: 60px;" %>
        <% end %>
      </div>
    </div>
  </div>
  <h3 style="margin: 30px; padding-right: 150px;"> We found <%= @places.count %> result(s)</h3>
</div>

  <!-- events/show.html.erb  w-50 mb-2 justify-content-between-->
      <div class="d-flex bd-highlight w-50 mb-2" data-controller="filter">
        <%= link_to "All", event_path(@event), class: "p-2 flex-fill bd-highlight me-2 btn custom-margin #{active_filter_class(nil)}", data: { action: "filter#filter" } %>
        <%= link_to "Catering", event_path(@event, category: 'Catering'), class: "p-2 flex-fill bd-highlight me-2 btn custom-margin #{active_filter_class('Catering')}", data: { action: "filter#filter" } %>
        <%= link_to "Entertainment", event_path(@event, category: 'Entertainment'), class: "p-2 flex-fill bd-highlight me-2 btn custom-margin #{active_filter_class('Entertainment')}", data: { action: "filter#filter" } %>
        <%= link_to "Culture", event_path(@event, category: 'Culture'), class: "p-2 flex-fill bd-highlight btn custom-margin #{active_filter_class('Culture')}", data: { action: "filter#filter" } %>
      </div>

  <div class="event-container" data-controller="places">

    <%= render 'shared/filtered_places', places: @places, event: @event %>

    <div class="map-display"
        data-target="filter.map"
        data-places-target="map"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
