<style>
  .nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    /* You can adjust other text properties here */
  }
  .text-black {
    color: black !important; /* Ensure the text color is black */
  }
  .nav-tabs .nav-link {
  background-color: #f0f0f0;
  border: 1px solid #cccccc;
  font-size: 18px;
  padding: 10px 15px;
  transition: all 0.3s ease;
}
.nav-tabs .nav-link.active {
  background-color: #ffffff;
  border-bottom: none;
}
.nav-tabs .nav-link:hover {
  background-color: #9FB1D3;
  color: #ffffff;
}
</style>


<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link active text-black" data-bs-toggle="tab" href="#mygroupsSection">MY GROUPS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-black" data-bs-toggle="tab" href="#myeventsSection">MY EVENTS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-black" data-bs-toggle="tab" href="#bookingsSection">MY BOOKINGS</a>
  </li>
</ul>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="tab-content">

        <div class="tab-pane fade show active" id="mygroupsSection">
          <!-- ... Your existing content for mygroupsSection ... -->
          <div class="groups">
            <div class="row">
              <% @groups.each do |group| %>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <div class="card-body">
                          <h5 class="card-title"><%= group.name %></h5>
                          <p class="card-text">Created by: <%= group.user.first_name %> <%= group.user.last_name %></p>
                          <ul class="list-unstyled">
                            <li><strong>Group Members:</strong></li>
                            <% group.group_users.each do |group_user| %>
                              <li>
                                <p><%= group_user.user.first_name %> <%= group_user.user.last_name %></p>
                                <% if group_user.user.photo.attached? %>
                                  <%= cl_image_tag group_user.user.photo.key, class:"avatar" %>
                                <% end %>
                              </li>
                            <% end %>
                          </ul>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
           <%= link_to "Add Group", new_group_path, class: "btn btn-primary" %>
        </div>

        <div class="tab-pane fade" id="myeventsSection">
          <!-- Add the sub-tabs here -->
          <ul class="nav nav-tabs" id="myEventsTabs" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active text-black" id="created-tab" data-bs-toggle="tab" data-bs-target="#createdSection" type="button" role="tab" aria-controls="createdSection" aria-selected="true">Created</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link text-black" id="voted-tab" data-bs-toggle="tab" data-bs-target="#votedSection" type="button" role="tab" aria-controls="votedSection" aria-selected="false">Voted</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link text-black" id="passed-tab" data-bs-toggle="tab" data-bs-target="#passedSection" type="button" role="tab" aria-controls="passedSection" aria-selected="false">Passed</button>
            </li>
          </ul>
          <div class="tab-content mt-3" id="myEventsTabsContent">
            <div class="tab-pane fade show active" id="createdSection" role="tabpanel" aria-labelledby="created-tab">
              <%= render 'events/index', events: @created_events %>
            </div>
            <div class="tab-pane fade" id="votedSection" role="tabpanel" aria-labelledby="voted-tab">
              <%= render 'events/index', events: @voted_events %>
            </div>
            <div class="tab-pane fade" id="passedSection" role="tabpanel" aria-labelledby="passed-tab">
              <%= render 'events/index', events: @passed_events %>
            </div>
          </div>
          <!-- End of sub-tabs -->
        </div>

      </div>
    </div>
  </div>
</div>
