<div class="container-home">
    <div id="text-overlay">
        <div class="row">
          <div class="col-12">
            <div class="home-title">
              <%= image_tag "ideal-place.png", alt:"Ideal Place - Where your events begin -logo texte", class:"space-between-logo-accroche" %><br>
              <%= image_tag "dawn.png", alt:"designed sun", class:"sun" %>
            </div>
            <%= image_tag "where-your-events-begin.png", alt:"Ideal Place - Where your events begin - accroche", class:"space-between-accroche-input" %><br>
            <%= form_with url: new_event_path, method: :get, html: {class: "mb-4", data: {search_movies_target: "form"}} do |f| %>
              <%= f.text_field :name,
                              class: "underline-input",
                              value: params[:name],
                              placeholder: "Enter your event name here"
              %>

            <%= f.submit "➜", class:"form-arrow" %>
            <% end %>
            <!-- placage des 5 images à intégrer pour la déco à mettre en position absolute ! -->
            <%= image_tag "green-vertical-lines.png", alt:"Green vertical lines", class:"green-vertical-lines" %>
            <%= image_tag "green-horizontal-lines.png", alt:"Green horizontal lines", class:"green-horizontal-lines" %>
            <%= image_tag "demi-sphere-orange-verte.png", alt:"Demi-sphere-orange-verte", class:"demi-sphere-orange-verte" %>
            <%= image_tag "demi-sphere-orange-jaune.png", alt:"Demi-sphere-orange-jaune", class:"demi-sphere-orange-jaune" %>
          </div>
        </div>
        </div>
      </div>

</div>
