<h1 style="margin: 20px;">Event Places</h1>
<div class="container" style="display: flex; flex-direction: column;">
  <div class="row">
    <% @event_places.each do |event_place| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title"><%= event_place.place.name %></h5>
            <p class="card-text"><%= event_place.place.address %></p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Duration: <%= event_place.duration %> minutes</li>
              <li class="list-group-item">Distance: <%= event_place.distance %> km</li>
              <li class="list-group-item">Transport mode: <%= event_place.transport_mode %></li>
              <li class="list-group-item">Selected: <%= event_place.selected ? "Yes" : "No" %></li>
              <% if event_place.favoritors %>
                <li class="list-group-item">Members who voted:
                <% event_place.favoritors.each do |favorite| %>
                  <%= favorite.first_name %>
                </li>
                <% end %>
              <% end %>
            </ul>
            <div class="form-check" style="position: absolute; bottom: 10px; right: 10px;">
              <% if @event.voted_by_user(current_user) %>
                <%= current_user.favorited?(event_place) ? "voted!" : "Already voted!" %>
              <% else %>
                <%= link_to "Vote", vote_event_place_path(event_place), class:"custom-btn" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row" >
    <div style="width: 800px; height: 600px; margin: auto; align-self: center;"
      data-controller="map"
      data-map-markers-value="<%= @geomarkers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
