<div class="container" style="display: flex; flex-direction: column;">
  <div class="row">
    <% if @event.status == "Voted" || @event.status == "Passed" %>
      <% event_place = @event.event_places.first %>
      <div class="col-md-5 offset-md-3">
        <div class="card mb-4">
          <div class="row">
            <!-- Image of the place -->
            <div class="col-sm-3">
              <% if event_place.place.photo.attached? %>
                <%= cl_image_tag event_place.place.photo.key, class: "place-picture", style: "height: 100%;" %>
              <% end %>
            </div>
            <!-- Card body -->
            <div class="col-sm-9">
              <div class="card-body <%= event_place.selected ? "selected" : "unselected" %>">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title"><%= event_place.place.name %></h5>
                  <%= link_to "X", event_place_path(event_place), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, style: "opacity: 1;" %>
                </div>
                <br>
                <p class="card-text m-0"><i class="fas fa-map-marker-alt"></i> <%= event_place.place.address %></p>
                <div>
                <br>
                  <strong>Democracy has spoken!</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <% @event_places.each do |event_place| %>
        <!-- Existing code for displaying all event_places -->
        <!-- ... -->
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="row">
              <!-- Image of the place -->
              <div class="col-sm-4">
                <% if event_place.place.photo.attached? %>
                  <%= cl_image_tag event_place.place.photo.key, class: "place-picture", style: "height: 100%;" %>
                <% end %>
              </div>
              <!-- Card body -->
              <div class="col-sm-8">
                <div class="card-body <%= event_place.selected ? "selected" : "unselected" %>">
                  <div class="d-flex justify-content-between">
                    <h5 class="card-title"><%= event_place.place.name %></h5>
                    <%= link_to "X", event_place_path(event_place), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, style: "opacity: 1;" %>
                  </div>
                  <p class="card-text"><i class="fas fa-map-marker-alt"></i> <%= event_place.place.address %></p>
                  <div>
                    <% if event_place.favoritors %>
                      Votes: <%= event_place.favoritors.count %> / <%= @event.group.group_users.count %>
                      <% @event.group.group_users.each do |group_user| %>
                        <% if event_place.favoritors.include?(group_user.user) %>
                          <%= cl_image_tag group_user.user.photo.key, class: "avatar" %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="form-check" style="position: absolute; bottom: 10px; right: 10px; color: #0C7E65;">
                    <% if @event.voted_by_user(current_user) %>
                      <%= current_user.favorited?(event_place) ? "✓ Voted" : "" %>
                    <% else %>
                      <%= link_to "Vote", vote_event_place_path(event_place), class: "btn custom-btn" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <% unless @event.status == "Voted" || @event.status == "Passed"  %>
    <div class="row" class="mapboxgl-popup-content">
      <div style="width: 800px; height: 600px; margin: auto; align-self: center;"
        data-controller="map"
        data-map-markers-value="<%= @geomarkers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  <% end %>
</div>
