<div class="container" style="display: flex; flex-direction: column;">
  <div class="row">
    <% @event_places.each do |event_place| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body <%= event_place.selected ? "selected" : "unselected" %>">
            <div class="d-flex justify-content-between ">
              <h5 class="card-title"><%= event_place.place.name %></h5>
              <%= link_to "X", event_place_path(event_place), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, style:"opacity: 1;" %>
            </div>
            <p class="card-text"><i class="fas fa-map-marker-alt"></i>  <%= event_place.place.address %></p>
              <% if event_place.favoritors %>
                <div class="" style="position: absolute; bottom: 15px; left: 10px;">Votes:
                    <%= event_place.favoritors.count %> / <%= @event.group.group_users.count %>
                    <% @event.group.group_users.each do |group_user| %>
                      <% if event_place.favoritors.include?(group_user.user) %>
                        <%= cl_image_tag group_user.user.photo.key, class: "avatar" %>
                      <% end %>
                    <% end %>
                </div>
              <% end %>
            <div class="form-check" style="position: absolute; bottom: 10px; right: 10px; color: #0C7E65;">
              <% if @event.voted_by_user(current_user) %>
                <%= current_user.favorited?(event_place) ? "✓ Voted" : "" %>
              <% else %>
                <%= link_to "Vote", vote_event_place_path(event_place), class:"btn custom-btn" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row" class="mapboxgl-popup-content mapboxgl-popup-close-button">
    <div style="width: 98%; height: 600px; margin: auto; align-self: center;"
      data-controller="map"
      data-map-markers-value="<%= @geomarkers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
